<html>
    <head>
        <title>Yoon's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Yoon's Blog</a></h1>
        </div>

        <div>
            <p>published: 25.07.2018, 17:58:50</p>
            <h2><a href="">My first post</a></h2>
            <p>덥고 습하고 해가 너무 쨍쨍함</p>
        </div>

        <div>
            <p>published: 25.07.2018, 17:58:08</p>
            <h2><a href="">My second post</a></h2>
            <p>최고 34 최저26도</p>
        </div>
    </body>
</html>